<div class="col-lg-3">
  <!-- bloque de usuario -->
  <%= render 'user_card' %>
  <!-- bloque reqyest -->
  <%= render 'book_request' %>
</div>
<div class="col-lg-9">
  <!-- Mis libros alojados contents  -->
  <%= render 'book_hosting' %>
  <!-- Libros pasados  -->
  <%= render 'book_hosted' %>
  <!-- Libros donados -->
  <%= render 'book_donated' %>

  <!-- Libro detalle y timeline -->
  <%= render 'book_detailed' %>

  <!-- Resultados de búsqueda -->
  <%= render 'book_search_results' %>
</div>
