<div class="col-lg-3">
  <!-- bloque de usuario -->
  <%= render 'user_card' %>
  <!-- bloque reqyest -->
  <%= render 'books/request' %>
</div>
<div class="col-lg-9">
  <!-- Mis libros alojados contents  -->
  <%= render 'books/hosting' %>
  <!-- Libros pasados  -->
  <%= render 'books/hosted' %>
  <!-- Libros donados -->
  <%= render 'books/donated' %>

  <!-- Libro detalle y timeline -->
  <%= render 'books/detailed' %>

  <!-- Resultados de búsqueda -->
  <%= render 'books/search_results' %>
</div>
