<div class="wrapper">
  <div class="container">
    <div class="row main">
      <div class="panel-heading">
       <div class="panel-title text-center">
        <h1 class="title">Ingresar</h1>
        <hr />
      </div>
    </div> 
    <div class="main-login main-center">
      <h3>Iniciar sesión</h3>
      <form method="post" action="#">

        <!-- test -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'control-label' %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'control-label' %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-block btn-success' %>
        </div>
        <% end %>

        <div class="actions">
          <%= link_to omniauth_authorize_path(:user, :facebook), class: 'btn btn-primary btn-block' do %>
              <i class="fa fa-facebook-official" aria-hidden="true"></i> Ingresar con Facebook

        <% end %>
        </div>

        <%= render "devise/shared/links" %>
        <!-- end  test -->

      </div>
    </form>
  </div>
</div>
</div>
</div>