<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
  <title>Madiba</title>
  <%= csrf_meta_tags %>
=======
  <head>
    <title>Madiba</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="https://use.fontawesome.com/8606cf2d39.js"></script>
  </head>
>>>>>>> add home view

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="https://use.fontawesome.com/8606cf2d39.js"></script>
</head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/notice' %>
    <%= yield %>
  </body>
</html>
